body {
    background-color: rgb(107, 107, 107);
}


.container {
    background-color: rgb(212, 212, 212);
    display: grid;
    min-height: 100vh;

    grid-template-areas: 
    "hd hd"
    "ti mp"
    "tb mp"
    "ft ft";

    grid-template-columns: 1fr 450px;
    grid-template-rows: 70px 50px 1fr 80px;

    grid-gap: 3px;
    padding:  2rem 4rem 2rem 4rem;
    margin: 0px 40px 0px 40px

}


.header {
    background-color: rgb(179, 179, 179);
    grid-area: hd;

}

.title {
    grid-area: ti;

}



.table {
    grid-area: tb;
    display: flex;
    justify-content: center;


}


.map {
    grid-area: mp;
    margin: 25px;
    border: 2px solid rgb(133, 160, 185);
    border-radius: 30px;
}


.footer {
    background-color: rgb(87, 87, 87);
    grid-area: ft;
    margin: 0px;
}




#github_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    color: white;
}

#github_link{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

    color: rgb(255, 255, 255);
    text-decoration: underline;

}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 10px;
    font-size: 32px;
    color: black;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    align-self: flex-start;
    border: 2px solid rgb(122, 122, 122);

    
  }
  
table, tr, th, td {
font-family: sans-serif;
font-size: 18px;
padding: 15px;
margin: 20px;

}


#thead {
    background-color: #797979 !important;
}


table tr:nth-child(odd) {
    background-color: #bed3e4;
  }

  

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 3px;
    margin: 5px;    
}

    
@media (max-width: 950px) {
    .container {
        background-color: rgb(212, 212, 212);
        display: grid;
        min-height: 100vh;
    
        grid-template-areas: 
        "hd"
        "ti"
        "tb"
        "mp"
        "ft";

        grid-template-columns: 1fr;
        grid-template-rows: 70px 50px auto 450px 80px;

        grid-gap: 3px;
        padding: 5px;
        margin: 0px;
    
    }
    .header {
        justify-content: center;

    }
    
    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px;
        margin: 5px;
        font-size: 28px;
        font-weight: bolder;
    }



    .map {
        grid-area: mp;
        margin: 25px;
        border: 2px solid rgb(133, 160, 185);
        border-radius: 25px;
    }

}