#bron: yingtongli.me
[Unit]
Description=Splash PTW
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/fim -d /dev/fb0 -q -a /home/pi/gemeente.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
